.item_name {

}

.item_price {
  text-align: right;
}

.pagination_container {
  margin-top: 32px;
}

.filter_text {
  text-decoration: underline;
  margin: 40px 0 20px 0;
}

.filter_container {
  position: relative;
  height: 100%;
  min-height: 100vh;
  background: #fafafa;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}